<details id="help">
    <summary>Un problème ?</summary>
	<h4>Vous souhaitez réinitialiser vos facteurs d'authentification renforcée ?</h4>
    <ul>
        <li>Vous pouvez le faire en passant par FranceConnect via <a href="https://p1ps.fr/init-mfa-fc">https://p1ps.fr/init-mfa-fc</a>.</li>
        <li>
            Une deuxième solution est de vous connecter sur le réseau wifi "universite-paris1" ou filaire de l'université.<br />
            Vous pourrez ainsi réinitialiser vos facteurs d'authentification via l'application 
            <a href="https://esup-otp-manager.univ-paris1.fr/preferences#">Authentification renforcée</a> disponible dans votre ENT.
        </li>
    </ul>
	<p>En cas de difficultés, <a href="mailto:assistance-dsiun@univ-paris1.fr?subject=Problème ESUP-OTP">Contactez la DSIUN</a>.</p>
</details>