<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Authentification renforcée</title>
    <link rel="stylesheet" type="text/css" href="cas.css">
</head>

<body>

    <header role="banner" id="headerEcranConnexion">
        <div><h1>Authentification renforcée</h1></div>
    </header>

    <main role="main">
        <div id="content">

            <div id="no-choices">
                <p>Attention !!</p>
                <p>
                    Pour renforcer la sécurité d'accès à ce service, nous vous recommandons fortement d'activer l'<a href="https://esup-otp-manager.univ-paris1.fr/preferences" target="_blank">authentification renforcée</a>.<br />
                    (Un <a href="https://ecm.univ-paris1.fr/nuxeo/site/esupversions/5aed0821-e47d-4870-be88-15abca0f0290" target="_blank">guide de démarrage rapide</a> et une <a href="https://ecm.univ-paris1.fr/nuxeo/site/esupversions/d5a83670-eec8-4ba5-b987-1f888a9fbb27" target="_blank">fiche d'aide détaillée</a> sont disponibles sur la page d'accueil.)
                </p>
                <p>Merci de votre compréhension.</p>
            </div>

            <p style="margin-top: 3em;">
                <a href="#" onclick="location.reload()">Ignorer pour le moment</a>
            </p>
        </div>
    </main>
</body>
</html>
