body {  
    max-width: 800px; 
    margin: 0 auto; 
    font-family: Arial,"Helvetica Neue", Helvetica,verdana, sans-serif;
    background-color: #fff;
    color: #444; 
    font-weight: normal; 
}
main {
    padding-bottom: 10px;
}

a, a:visited, details summary {  
    text-decoration: none;
    color: #20559A;
}

a:hover, details summary:hover { 
    color: #2055cc;
    text-decoration: underline; 
    cursor: pointer;
}
 
#errors { 
    color: #CF4A02;
}

#warnings { 
    color: #2055cc;
    margin: 1rem 0;
}

h1 {
    text-align: center;
     color: #727780;
    font-weight: normal;
     font-size: 30px;
}

h2 {
    font-weight: normal; 
    font-size: 19px;
    color: #666;
    padding-bottom: 15px;
    text-align: center;
}


#content { 
    margin:40px 5px; 
}

#help ul {
    padding-left: 20px;
}

#help li {
  margin: 10px 0;
}

input, button {
    padding: 1rem;
    font-size: 16px;
    box-sizing: border-box;
}

/***************/


#registerform    { 
    text-align: center; border: 1px dotted #20558a; padding: 25px; 
    border-radius: 4px; 
}

#registerform input, #registerform button { 
    background-color: #dfe6f3;
    border-radius : 4px; 
   color: #00326e;
    margin : 4px; padding: 12px 21px; 
}

#registerform input:hover, #registerform button:hover {
   background-color: #dfe6f360; 
      color: #2055cc; 
    
} 

/***********/ 
     
@media screen and (max-width: 810px) {
    h1 { font-size: 26px; }
   #content { padding:15px 15px;  }
    #token { width:68%; }
   input, button {  padding: 0.8rem; font-size: 15px; box-sizing: border-box;}
 }
